*{
    margin: 0;
    font-family: Arial;
    border: borden box;

}
.navbar{
    height: 60px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;

}
.nav-logo{
    height: 50px;
    width: 100px;

}
.logo {
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50;
    width: 100px;  
}

.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid white;
}
/**box2 **/
.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}
.add-second{
    font-size: 1rem;
    margin-left: 3pex;
 
}
.add-icon{
    display: flex;
    align-items: center;
}
/**box3**/
.nav-search{
    display: flex;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 3px;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    
}